h1= content.title
div
  i.classText= "Clasification: " + content.class
p= content.text
h2 Attacks
p= content.Attacks
h2 Traits
p=content.Traits
h2 Attribute Table
include ../Wrap/statTable.jade
h2 Notes
i= content.Notes
