table#AttributeTable
  thead
  tbody
    tr
      td= "ST: : " + content.AttributeTable.ST
      td= "HP: " + content.AttributeTable.HP
      td= "Speed: " + content.AttributeTable.Speed
    tr
      td= "DX: " + content.AttributeTable.DX
      td= "Will: " + content.AttributeTable.Will
      td= "Move: " + content.AttributeTable.Move
    tr
      td= "IQ: " + content.AttributeTable.IQ
      td= "Per: " + content.AttributeTable.Per
      td= "SM: " + content.AttributeTable.SM
    tr
      td= "HT: " + content.AttributeTable.HT
      td= "FP: " + content.AttributeTable.FP
      td= "Pr: " + content.AttributeTable.Pr
    tr
      td= "Dodge: " + content.AttributeTable.Dodge
      td= "Parry: " + content.AttributeTable.Parry
      td= "DR: " + content.AttributeTable.DR
